__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/
env/
.DS_Store
.idea/
.vscode/
work/
results/
scratch/
tmp/
*.zip
*.bam
*.bai
*.cram
*.crai
*.sam
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.vcf.gz
*.vcf.gz.tbi
*.bcf
*.bcf.csi
*.fa
*.fasta
*.fai
*.dict
*.img
*.sif
*.tar
*.tar.gz
!examples/**
!tests/**
